
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  text-align: center; /* Horizontally center text there */
  background-color: #d6d6d6;
}

.title {
  @media (min-width: 768px) {
    height: 75px;
  }
}

.product-qty {
  width: 50px;
  margin-top: 10px;
}

.popover {
  min-width: 80%;
  margin-left: 10%;
  text-align: center;
}

.popover-header {
  width: 100%;
  margin: unset;
  text-align: center;
}

.popover-body {
  a {
    color: white;
  }

  #popover-footer {
    text-align: right;
  }
}

div.form-group {
  position: relative;
}


//Animations
@keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.75);
  }
  to {
    transform: scale(1);
  }
}

// Pulsing button
.btn-pulse {
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;

  &:hover {
    animation-name: unset; // Pause pulsing, when button is hovered over
  }
}

@keyframes shakeBasket {
  25% {
    transform: translateX(8px)
  }
  50% {
    transform: translateX(-6px);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shakeBasket .4s ease-in-out forwards; // Shake basket icon, after product is added to basket
}
